<!DOCTYPE html>
<html>
<head>
    <title>mntr</title>
    <style>
        table.diff {
            border-collapse: collapse;
            width: 100%;
        }
        .diff_header {
            background-color: #e6e6e6;
        }
        .diff_next {
            background-color: #c0c0c0;
        }
        .diff_add {
            background-color: #ddffdd;
        }
        .diff_chg {
            background-color: #ffffcc;
        }
        .diff_sub {
            background-color: #ffdddd;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{% url 'monitoredpage_list' %}">My Pages</a> |
        <a href="{% url 'notificationsettings_update' %}">Settings</a> |
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
