<!DOCTYPE html>
<html>
<head>
    <title>mntr</title>
    <style>
        ins {
            background-color: #d4edda;
            text-decoration: none;
        }
        del {
            background-color: #f8d7da;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{% url 'monitoredpage_list' %}">My Pages</a> |
        <a href="{% url 'notificationsettings_update' %}">Settings</a> |
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
