{% extends 'monitor/base.html' %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <p>URL: <a href="{{ object.url }}">{{ object.url }}</a></p>
    <p>Frequency: {{ object.frequency_number }} {{ object.get_frequency_unit_display }}</p>
    <p>Last Checked: {{ object.last_checked }}</p>

    {% if diff %}
        <h2>Changes:</h2>
        {% if is_error %}
            <p>{{ diff }}</p>
        {% else %}
            <iframe srcdoc="{{ diff|escape }}" sandbox="allow-same-origin" style="width: 100%; height: 60vh; border: 1px solid #ccc;"></iframe>
        {% endif %}
    {% endif %}
{% endblock %}
