{% extends 'monitor/base.html' %}

{% block content %}
    <h1>My Monitored Pages</h1>
    <a href="{% url 'monitoredpage_create' %}">Add New Page</a>
    <ul>
        {% for page in object_list %}
            <li>
                <a href="{% url 'monitoredpage_detail' page.pk %}">{{ page.name }}</a>
                {% if page.has_changed %}
                    <strong>(Changed)</strong>
                {% endif %}
                <form action="{% url 'check_now' page.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Check Now</button>
                </form>
                <a href="{% url 'monitoredpage_update' page.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
